@media screen and (min-width: 900px) and (max-width: 1140px) {
  .form {
    display: flex;
    justify-content: space-around;
  }
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    .form {
      display: flex;
      justify-content: space-around;
    }
}