table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  padding: 8px;
  text-align: left;
  color: #666666;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
